<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
{% block title %}

{% endblock title %}

    </title>
</head>
<body>
    <h1>HI!</h1>
    {{ csrf_token }}
    <h1>{{ now }}</h1>
    {% block content %}
    {% for task in  tasks %}
    <h3 class="task_title">{{task.task}}</h3>
    <ul class="task_list">
    {% for key,val  in task.items %}
        <p class="task_entries"><strong>{{key}}</strong> : {{val}} </p>
    {% endfor %}
    </ul>
    <a href="{% url  'tasks:delete' task.id%}">Delete </a>

    {% endfor %}
    <a href="{% url 'tasks:index'   %}">click me</a>

    {% endblock content %}
</body>
<style>
    a{
        text-decoration: none;
    }
</style>
</html>