<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .a7a {
        background-color: #515961;
    }

    .navbar-brand {
        color: white !important;
        font-weight: bold;
    }

    .navbar-nav .nav-item .nav-link {
        color: rgb(48, 18, 18);
        border-radius: 100%;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #ffc107;
        background-color: #515961;
    }
</style>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark a7a">
        <a class="navbar-brand" href="/">Tasks App</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/add-task">Add Task</a></li>
            <li class="nav-item"><a class="nav-link" href="/delete-task">Delete Task</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="/selection">Selection</a></li>
            <li class="nav-item"><a class="nav-link" href="/update-task">Update Task</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/test">Test</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
        </ul>
    </nav>
</body>
